<header>
    <div class="header-content">
        <a href="/Biblio-tech/index.html" class="logo">
            <img src="/Biblio-tech/img/LogoWeb.svg" alt="Biblio-tech logo">
        </a>

        <nav>
            <ul>
                <li><a href="/Biblio-tech/index.html">Inicio</a></li>

                <li class="dropdown">
                    <a href="#" class="dropbtn">Cursos</a>
                    <ul class="dropdown-content">
                        <li><a href="/Biblio-tech/pages/librosElectronicos.html">Libros electrónicos</a></li>
                        <li><a href="#">Bases de datos</a></li>
                        <li><a href="#">Estrategias de búsqueda</a></li>
                    </ul>
                </li>

                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>

        <div class="search-container">
            <input id="search-input" type="text" placeholder="Buscar...">
            <div id="search-results" class="search-results"></div>
        </div>

        <button id="menu-toggle" class="menu-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</header>
