    <header>
     <div class="header-container">

    <!-- LOGO MOVIL -->
    <div class="logo">
      <a href="/Biblio-tech/index.html">
        <img src="/Biblio-tech/img/LogoWebMovil.svg" alt="logo Biblio-tech">
      </a>
    </div>

    <!-- LOGO DESKTOP -->
    <div class="logo-desktop">
      <a href="/Biblio-tech/index.html">
        <img src="/Biblio-tech/img/LogoWeb.svg" alt="logo Biblio-tech desktop">
      </a>
    </div>

    <!-- BUSCADOR -->
    <div class="search">
      <input id="search-input" type="text" placeholder="Buscar...">
      <div id="search-results" class="search-results"></div>
    </div>

    <!-- MENU HAMBURGUESA -->
    <button id="menu-toggle" class="menu-toggle">
      <i class="fas fa-bars"></i>
    </button>

        <nav>
      <ul class="menu-nav">
        <li><a href="/Biblio-tech/index.html">Inicio</a></li>

           <li class="dropdown">
          <a href="#" class="dropbtn">Cursos</a>
            <ul class="dropdown-content">
            <li><a href="/Biblio-tech/pages/librosElectronicos.html">Libros electrónicos</a></li>
          </ul>
        </li>

        <li><a href="#">¿Quiénes somos?</a></li>
      </ul>
    </nav>
     </div>
</header>
