<header>
  <div class="header-container">

    <!-- LOGO MOVIL -->
    <div class="logo">
      <a href="./index.html">
        <img src="./img/LogoWebMovil.svg" alt="logo Biblio-tech">
      </a>
    </div>

    <!-- LOGO DESKTOP -->
    <div class="logo-desktop">
      <a href="../index.html">
        <img src="./img/LogoWeb.svg" alt="logo Biblio-tech desktop">
      </a>
    </div>

    <!-- BUSCADOR -->
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Buscar...">
      <button id="searchBtn" class="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <!-- MENU TOGGLE SOLO EN MOVIL -->
    <button id="menu-toggle" class="menu-toggle">
      <i class="fas fa-bars"></i>
    </button>

    <!-- MENU DESKTOP + MOVIL -->
    <nav id="main-nav">
      <ul class="menu-nav">
        <li><a href="./index.html">Inicio</a></li>

        <li class="dropdown">
          <a class="dropbtn">Cursos</a>

          <ul class="dropdown-content">
            <li><a href="./pages/librosElectronicos.html">Libros electrónicos</a></li>
            <li><a href="./pages/BaseDeDatos.html">Bases de datos</a></li>
            <li><a href="./pages/estrategiasDeBusqueda.html">Estrategias de búsqueda</a></li>
            <li><a href="./pages/cursos.html#tesauros">Tesauros</a></li>
            <li><a href="./pages/cursos.html#operadores-booleanos">Operadores booleanos</a></li>
          </ul>
        </li>

        <li><a href="./pages/quienesSomos.html">¿Quiénes somos?</a></li>
      </ul>
    </nav>

  </div>
</header>
